<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2UtQAPC0fGRHY2lSDzsb109RMBmFT76o</string>
	<key>GCM_SENDER_ID</key>
	<string>522058165852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.hilite.hilite</string>
	<key>PROJECT_ID</key>
	<string>hilite-fd1fe</string>
	<key>STORAGE_BUCKET</key>
	<string>hilite-fd1fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522058165852:ios:71b8766a87b8120c2a0099</string>
</dict>
</plist>